/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 14, 2018, 11:15:08 AM
    Author     : Marina Guzvic
*/

body, html {
    height: 100%;
}

.push{
    height: 70px;
}
::-webkit-scrollbar { 
    width: 0px;
    background: transparent;
}

.footer-color{
    background-color: #d9d9d9;
}

.ftr{
    width: 100%;
    position: absolute;
    bottom: 0;
    left:0;  
    margin:0;
}

.img-footer{
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.image-container:hover .img-footer {
    opacity: 0.3;
}
.footer-text{
    background-color: #bfbfbf;
    color: white;
    font-weight: bold;
    padding: 5px;
        
}

.bg {
    background-image: url("/app/resources/images/background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 0px;
    margin-bottom: 0;

}

.content{
    background-color:  #e6ffe6;
    height: 100%;
    overflow-y: scroll;
}


.naslov{
    font-weight: bold;
    color: #0000b3;
}

.input-lbl{
    width: 15%;
}
.input{
    width: 100%;
}

.space{
    margin-top: 10px;
    background-color:#99ffcc;

}

.komisija{
     background-color:#99ffcc;
}




.custom-color {
    background-color: #b3ffb3;
    background-image: none;
    background-repeat: no-repeat;
}


.custom-active{
    background-color:#99ffcc ;
    font-weight: bold;
}

